<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レジェンド一覧登録</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	
	<h2>レジェンド検索</h2>
	<form th:action="@{/legend-search}" method="POST" th:object="${legendSearchForm}">
		【レジェンド名】（部分一致）<br><br>
		<input type="text" th:field="*{name}" class="search"><br>
		<br>
		<input type="submit" value="検索" class="btn">
	</form>
	
	<div th:if="${legendList} != null">
		<h2>レジェンド一覧</h2>
		
		<table class="regends-list">
			<tr>
				<th colspan="2">レビュー</th><th>レジェンドID</th><th colspan="2">レジェンド名</th><th>クラス</th><th>平均評価</th>
			</tr>
			
			<tr th:each="legend : ${legendList}">
				<td>
					<form th:action="@{/search-review}" method="POST">
						<input type="hidden" name="id" th:value="${legend.id}">
						<input type="hidden" name="name" th:value="${legend.name}">
						<input type="submit" value="一覧" class="tbtn"> 
					</form>
				</td>
				<td>
					<form th:action="@{/show-review-form}" method="POST">
						<input type="hidden" name="id" th:value="${legend.id}">
						<input type="hidden" name="name" th:value="${legend.name}">
						<input type="submit" value="登録" class="tbtn"> 
					</form>
				</td>
				<td th:text="${legend.id}"></td>
				<td th:text="${legend.name}"></td>
				<td>
					<form th:action="@{/legend-details}" method="POST">
						<input type="hidden" name="id" th:value="${legend.id}">
						<input type="hidden" name="name" th:value="${legend.name}">
						<input type="submit" value="詳細" class="tbtn"> 
					</form>
				</td>
				<td th:text="${legend.legendClass}"></td>
				<td th:text="${legend.formatAverageRating()}"></td>
			</tr>
		</table>
	</div>

</body>
</html>